<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mydaemon.fsevents</string>

    <key>ProgramArguments</key>
    <array>
        <!-- Path to the compiled daemon executable -->
        <string>/Users/qa/Desktop/samar/new_mac_project/file_events/fsevents_daemon</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>

